@import "../abstract/colors";

html {
  font-size: 62.5%;
  body {
    font-size: 1.8rem;
    color: $off-white;
    background-color: $background;
  }
}

.inner-container {
  width: 130rem;
  margin: 0 auto;
}

.opacity-container {
  background-color: rgba(0, 0, 0, 0.651);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
